.email-header {
    grid-area: header;
}

.img-logo {
    height: 10vh;
}

.email-header .route-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    gap: 20px;
    margin-inline-start: 100px;
    margin-inline-end: 10px;
}

.email-header button {
    height: 100%;
    width: 45px;
    /* object-fit: cover; */
    border: none;
    cursor: pointer;
    background: inherit;
    /* position: absolute; */

}
