.email-list {
    overflow-y: scroll;
    height: 100%;
    grid-area: list;
}

.email-list-sort-bar{
    background-color: var(--clr1);
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}