.email-folder-list {
    font-weight: 600;
  }
  
  .email-folder-list li {
    display: flex;
    align-items: center;
    padding: 0 8px 0 26px;
    cursor: pointer;
  }
  
  .email-folder-list li:hover {
    background-color: var(--clr3);
    border-start-end-radius: 2rem;
    border-end-end-radius: 2rem;
  }

  .email-folder-list li.active {
    background-color: rgb(206, 225, 231);
  }

  .email-folder-list li button {
    background: inherit;
    border: none;
  }
  