.email-folder-list {
    font-weight: 600;
  }
  
  .email-folder-list li {
    display: flex;
    align-items: center;
    padding: 3px 8px 3px 26px;
    cursor: pointer;
  }

  .email-folder-list li .count-unread {
    padding-inline-start: 50px;
  }
  
  .email-folder-list li:hover {
    background-color: var(--clr3);
    border-start-end-radius: 2rem;
    border-end-end-radius: 2rem;
  }

  .email-folder-list li button {
    background: inherit;
    border: none;
    margin-inline-end: 25px;
  }
  