.email-compose {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 70vh;
    width: 40%;
    font-size: 0.875rem;
    border-radius: 12px 12px 0px 0px;
    z-index: 10;
}

.email-compose .header {
background-color: var(--clr2);
padding: 10px;
}

.email-compose .footer {
background-color: var(--clr1);
padding: 10px;
}

.email-compose input {
    border: none;
    font-size: 0.875rem;
    font-weight: 100;
    box-shadow: inset 0 -1px 0 0 rgba(100,121,143,0.122);
}

.email-compose content-container {
    padding: 0 16px;
}


