.keep-app {
  margin-right: 60px;
}

.keep-lists-container {
  display: flex;
}

.keep-list {
  column-count: 4;
  column-gap: 1.5rem;
  max-width: 100%;
  padding-top: 50px;
}

.keep-list > * {
  border: 1px solid var(--clr4);
  break-inside: avoid;
  margin-block-end: 1rem;
  width: 100%;
  border-radius: 0.8rem;
  overflow: hidden;
}

.keep-list > * h2 {
  padding: 20px;
}

.keep-txt-container p {
  padding: 20px;
}

.keep-folder-list {
  min-width: 280px;
  height: fit-content;
  padding-block-end: 50px;
  margin-right: 50px;
  font-weight: 600;
}

.keep-folder-list li {
  padding: 20px 40px;
}

.keep-folder-list li:hover {
  background-color: var(--secondary-clr2);
  border-start-end-radius: 2rem;
  border-end-end-radius: 2rem;
}

.keep-add {
  border: 2px solid black;
  width: 300px;
  height: 100px;
  margin: 0 auto;
  background: white;
}

.keep-add [contenteditable] {
  outline: 0px solid transparent;
}

.keep-tools {
  background-color: lightgray;
  width: 100%;
}

.keep-tools button {
  background-size: contain;
  background-repeat: no-repeat;
  padding: 6px;
  border: none;
  cursor: pointer;
}
