:root {
  --clr1: rgb(255, 255, 255);
  --clr2: rgb(246, 248, 252);
  --clr3: rgb(233, 237, 240);
  --clr4: rgb(222, 224, 227);

  --secondary-clr1: rgb(194, 231, 255);
  --secondary-clr2: rgb(254, 239, 195);

  --fontClr: rgb(32, 33, 36);
}
