* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--font-clr);
  font-family: Google-sans-regular, sans-serif;
  font-size: 0.875rem;
}

input {
  font-family: Google-sans-regular, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.8px;
}

a {
  text-decoration: none;
  color: unset;
}

/* Dont stretch my Media */
img,
embed,
video,
object {
  max-width: 100%;
}

/* tap targets: */
/* nav a,
button {
  min-width: 48px;
  min-height: 48px;
} */

/* Simple and useful CSS Debugging Technique */
.debug * {
  outline: 1px solid gold;
}

.backdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
